@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Radley:regular);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: top;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "Ceremonious";
  font-display: swap;
  src: url("../fonts/ceremonious_one.woff") format("woff"), url("../fonts/ceremonious_one.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Museo Cyrl";
  font-display: swap;
  src: url("../fonts/exljbris - Museo Cyrl 500.woff") format("woff"), url("../fonts/exljbris - Museo Cyrl 500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Cyrl";
  font-display: swap;
  src: url("../fonts/exljbris - Museo Cyrl 100.woff") format("woff"), url("../fonts/exljbris - Museo Cyrl 100.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Museo Cyrl";
  font-display: swap;
  src: url("../fonts/exljbris - Museo Cyrl 700.woff") format("woff"), url("../fonts/exljbris - Museo Cyrl 700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?schr0i");
  src: url("../fonts/icons.eot?schr0i#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?schr0i") format("truetype"), url("../fonts/icons.woff?schr0i") format("woff"), url("../fonts/icons.svg?schr0i#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  font-family: "icons" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-search:before {
  content: "\e900";
}

._icon-bag:before {
  content: "\e901";
}

._icon-profile:before {
  content: "\e902";
}

._icon-vk:before {
  content: "\e903";
}

._icon-facebook:before {
  content: "\e904";
}

._icon-instagram:before {
  content: "\e905";
}

body {
  color: #000;
  font-size: 14px;
  font-family: "Radley";
}

body.lock {
  overflow: hidden;
}

._container {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header {
  padding: 25px 0px 20px 0px;
}

.header__brg {
  position: relative;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  font-family: Circe;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.header__title_hide {
  position: relative;
  display: none;
  z-index: 51;
}

.header__menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__links {
  margin: 0px 110px 0px 0px;
}

.header__link {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Museo Cyrl";
  font-weight: 700;
  margin: 0px 30px 0px 0px;
}

.header__link:last-child {
  margin: 0px 0px 0px 0px;
}

.header__icon {
  margin: 0px 18px 0px 0px;
}

.icon-menu {
  display: none;
}

.item-basket {
  border-top: 1px solid #707070;
  position: relative;
}

.item-basket_1 {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 1;
  visibility: visible;
  top: 0;
}

.item-basket_1.close {
  opacity: 0;
  visibility: hidden;
}

.item-basket_2 {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 1;
  visibility: visible;
}

.item-basket_2.close {
  opacity: 0;
  visibility: hidden;
}

.item-basket__content {
  padding: 0px 12px;
}

.item-basket__img {
  margin: 0px 0px 30px 0px;
}

.item-basket__title {
  color: #444444;
  font-family: "Museo Cyrl";
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  margin: 0px 0px 20px 0px;
}

.item-basket__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-basket__criss-cross {
  cursor: pointer;
}

.item-basket__cost {
  color: #444444;
  font-family: "Museo Cyrl";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.icon-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-header__search {
  margin: 0px 18px 0px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-header__search:hover {
  color: #00ffea;
}

.icon-header__bag {
  margin: 0px 17px 0px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-header__bag:hover {
  color: #00ffea;
}

.icon-header__progile {
  margin: 0px 17px 0px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-header__progile:hover {
  color: #00ffea;
}

.icon-header__lang {
  -ms-flex-item-align: center;
      align-self: center;
  color: #6d6d6d;
  font-family: "Museo Cyrl";
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-header__lang:hover {
  color: #ff0062;
}

.about {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__suptitle {
  position: relative;
  display: inline-block;
  color: #fff;
  font-family: "Museo Cyrl";
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 20px 0px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about__suptitle:after {
  content: "";
  position: absolute;
  display: inline;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  width: 21px;
  height: 1px;
  background: #000;
}

.about__suptitle_white:after {
  background: #fff;
}

.about__title {
  color: #fff;
  font-size: 36px;
  margin: 0px 0px 35px 0px;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about__cost {
  color: #fff;
  font-family: "Museo Cyrl";
  font-size: 14px;
  font-weight: 500;
  margin: 0px 0px 65px 0px;
}

.about__btn {
  color: #ffffff;
  font-family: "Museo Cyrl";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 30px;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  max-width: 135px;
}

.about__btn:hover {
  color: #5dc8a1;
  background: #fff;
}

.news {
  margin: 55px 0px 35px 0px;
  padding: 0px 0px 10px 0px;
  position: relative;
  font-size: 10px;
  max-width: 50px;
  text-transform: uppercase;
}

.news_1 {
  margin: 55px auto 35px auto;
  color: #353535;
}

.news:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  background-color: #e98832;
  bottom: 0;
}

.menu-footer {
  margin: 0px 0px 50px 0px;
}

.menu-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-footer__body li {
  margin: 0px 30px 0px 0px;
}

.menu-footer__body li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu-footer__link {
  color: #ffffff;
  font-family: "Museo Cyrl";
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
}

.form-footer {
  text-align: center;
  margin: 0px 0px 65px 0px;
}

.form-footer__btn {
  color: #707070;
  font-family: "Museo Cyrl";
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  position: relative;
  padding: 0px 10px 0px 0px;
}

.form-footer__btn:after {
  content: "";
  position: absolute;
  border: solid #707070;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 10px;
  right: 0px;
}

.form-footer__mail {
  color: #707070;
  font-family: "Museo Cyrl";
  font-size: 10px;
  font-weight: 500;
  line-height: 30px;
  background: none;
  border: none;
  width: 214px;
  border-top: 1px solid #707070;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: inline-block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  bottom: 0;
  font-size: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  margin: 0px 0px 18px 0px;
}

.slick-dots li {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  margin: 0px 12px 0px 0px;
}

/* Активная точка */

.slick-dots li.slick-active {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}

/* Элемент точки */

.footer {
  position: relative;
  background-color: #1d1d1d;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icons {
  padding: 40px 0px 0px 0px;
  margin: 0px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon {
  color: #707070;
  margin: 0px 55px 0px 0px;
}

.footer__icon:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__title {
  color: #ffffff;
  font-family: Circe;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer__subtitle {
  color: #ffffff;
  font-family: "Museo Cyrl";
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px 0px 35px 0px;
}

.footer__quotes {
  color: #ffffff;
  font-family: "Museo Cyrl";
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 12px 0px;
}

.footer__quotes p:first-child {
  margin: 0px 0px 20px 0px;
}

.footer__img {
  margin: 0px 0px 25px 0px;
}

.basket {
  position: relative;
  opacity: 0;
  visibility: hidden;
  top: 20px;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -10;
}

.basket.active {
  opacity: 1;
  visibility: visible;
  top: 0;
  z-index: 50;
}

.basket__container {
  position: relative;
}

.basket__body {
  background-color: #f7f7f7;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.basket__item {
  padding: 35px 0px 25px 0px;
}

.basket__cost {
  border-top: 1px solid #707070;
  padding: 17px 100px;
  color: #000000;
  font-family: "Museo Cyrl";
  font-size: 14px;
  font-weight: 700;
  line-height: 36px;
}

.basket__order {
  background-color: #2c2c2c;
  color: #ffffff;
  font-family: "Museo Cyrl";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 18px 95px;
}

.slider {
  position: relative;
}

.slider__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider__body {
  position: relative;
  padding: 100px 0px 95px 0px;
}

.slider__content {
  position: relative;
  z-index: 5;
  height: 100%;
}

.slider__container {
  position: relative;
  height: 100%;
  padding: 0px 0px 0px 90px;
}

.slider__about {
  margin: 0px auto;
  max-width: 260px;
}

.slider__arrow {
  cursor: pointer;
}

.slider__arrow-left {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 5;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.slider__arrow-right {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 5;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.new__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new__column {
  padding: 55px 0px 300px 40px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.new__about {
  max-width: 430px;
  position: relative;
  z-index: 5;
}

.new__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.look__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.look__column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 450px 0px 50px 35px;
}

.look__column_flex {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.look__suptitle {
  color: #666666;
  font-family: "Radley";
  font-size: 32px;
  max-width: 78px;
  position: relative;
  text-transform: uppercase;
  padding: 0px 0px 20px 0px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -25px;
}

.look__suptitle:after {
  content: "";
  width: 33px;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 60%;
  -webkit-transform: translate(-40%, 0px);
      -ms-transform: translate(-40%, 0px);
          transform: translate(-40%, 0px);
}

.look__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.look__about {
  max-width: 145px;
}

.comment__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}

.comment__column {
  position: relative;
  min-height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.comment__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.comment__txt {
  max-width: 340px;
  height: 100%;
}

.comment__suptitle {
  color: #010101;
}

.comment__text {
  color: #353535;
  font-family: "Museo Cyrl";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 65px 0px;
}

.comment__info {
  background-color: rgba(1, 14, 24, 0.75);
  padding: 50px 60px 50px 100px;
  height: 100%;
  margin: 55px 0px 38px 0px;
  position: relative;
  z-index: 4;
}

.comment__title {
  color: #ffffff;
  font-family: "Radley";
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 280px;
}

.comment__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.comment__img:after {
  content: "";
  position: absolute;
  border-top: 60px solid transparent;
  border-left: 120px solid #fff;
  border-bottom: 60px solid transparent;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.people__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.people__column {
  position: relative;
  min-height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.people__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2a2a2a;
  height: 100%;
}

.people__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.people__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.people__img_1:after {
  content: "";
  position: absolute;
  border-top: 60px solid transparent;
  border-right: 120px solid #2a2a2a;
  border-bottom: 60px solid transparent;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.people__img_2:after {
  content: "";
  position: absolute;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-bottom: 120px solid #fff;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.people__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.people__element {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.people__txt {
  margin: 0px auto;
  max-width: 175px;
}

.people__suptitle {
  color: #c5c5c5;
}

.people__text {
  color: #c5c5c5;
  font-family: "Museo Cyrl";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.people__text_font {
  font-family: "Radley";
  color: #666666;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  max-width: 130px;
  margin: 0px auto;
}

@media (min-width: 992px) {
  a:hover:hover {
    text-decoration: underline;
  }

  .about a:hover {
    text-decoration: none;
  }
}

@media (max-width: 972px) {
  ._container {
    max-width: none;
  }

  .header {
    padding: 25px 10px 20px 10px;
  }

  .header__links {
    margin: 0px 0px 0px 0px;
  }

  .header__icon {
    margin: 0px 0px 0px 0px;
  }

  .slider__arrow-left {
    left: 10px;
  }

  .slider__arrow-right {
    right: 10px;
  }
}

@media (max-width: 887px) {
  .comment__info {
    padding: 50px 30px 50px 50px;
  }
}

@media (max-width: 767px) {
  .new__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .new__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .comment__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .comment__img:after {
    border-top: 40px solid transparent;
    border-left: 80px solid #fff;
    border-bottom: 40px solid transparent;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0px) rotate(90deg);
        -ms-transform: translate(-50%, 0px) rotate(90deg);
            transform: translate(-50%, 0px) rotate(90deg);
    z-index: 0;
  }

  .people__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .people__img_1:after {
    border-right: 80px solid #2a2a2a;
    border-bottom: 40px solid transparent;
    border-top: 40px solid transparent;
  }

  .people__img_2:after {
    border-right: 80px solid #fff;
    border-bottom: 40px solid transparent;
    border-top: 40px solid transparent;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }

  .people__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .people__txt {
    max-width: 300px;
    padding: 0px 10px;
  }
}

@media (max-width: 599px) {
  .header__link {
    margin: 0px 15px 0px 0px;
  }

  .people__img_1:after {
    display: none;
  }

  .people__img_2:after {
    display: none;
  }
}

@media (max-width: 467px) {
  .header__row {
    display: none;
  }

  .header__title {
    text-align: right;
  }

  .header__title_hide {
    display: block;
  }

  .header__menu {
    background: #0de3ff;
    position: absolute;
    z-index: 50;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: block;
    opacity: 0;
    padding: 100px 0px 0px 0px;
  }

  .header__menu.active {
    visibility: visible;
    opacity: 1;
  }

  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .header__link {
    line-height: 60px;
    font-size: 46px;
  }

  .icon-menu {
    position: absolute;
    display: block;
    top: 2px;
    left: 0;
    width: 16px;
    height: 10px;
    cursor: pointer;
    z-index: 52;
  }

  .icon-menu span {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    top: 10px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: 50%;
    bottom: 0px;
  }

  .icon-menu.active span {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .icon-menu.active span:last-child {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 50px;
    margin: 40px 0px 0px 0px;
  }

  .icon-header__lang {
    font-size: 35px;
  }

  .menu-footer__body li {
    margin: 0px 10px 0px 0px;
  }

  .slider__container {
    padding: 0px 10px 0px 10px;
  }

  .look__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .look__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .look__column_flex {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .comment__content {
    padding: 0px 10px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 972px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 887px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 599px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 467px){

@supports (-webkit-appearance:none){

}

}
